---
import type {Lang} from "../../../i18n";
import {getTranslations} from "../../../i18n";
import {Image} from "astro:assets";

import immigrationWoman from "../../../assets/immigration-woman.webp";

interface Props {
  lang: Lang;
}

const {lang} = Astro.props;
const t = getTranslations(lang);
---

<div class="flex flex-col md:flex-row gap-8 items-center justify-center">
  <Image src={immigrationWoman} alt="A woman in an immigration office." class="w-auto max-w-[50%] rounded-lg object-cover max-[991px]:max-w-full" width={941} height={1016} loading="lazy" />
  <div class="flex flex-1 flex-col gap-3">
    <h2 class="text-[28px] font-bold capitalize text-primary">
      {t.immigration.heading}
    </h2>
    <p class="text-base text-justify">
      {t.immigration.description}
    </p>
  </div>
</div>
