---
import type {Lang} from "../../../i18n";
import {getTranslations} from "../../../i18n";
import TestimonialCard from "../../../components/TestimonialCard.astro";
import type {TestimonialSource} from "../../../components/TestimonialCard.astro";

interface Props {
  lang: Lang;
}

const {lang} = Astro.props;
const t = getTranslations(lang);

const GOOGLE_URL = "https://share.google/VZ0ndSIGOJW0aHXuE";
const FACEBOOK_URL = "https://www.facebook.com/ptservicesagency/reviews";

const testimonials: {
  quote: string;
  author: string;
  rating: number;
  source: TestimonialSource;
  sourceURL: string;
  image?: string;
  date?: string;
}[] = [
  // This agency helped my girlfriend get her schengen visa for our summer holiday and service was top notch. And prices are very good compared to some other companies in Bangkok who tried to squeeze every baht they can out of me.

  {
    quote: "Very good service, great information, quick and reliable. Helped us register our marriage, getting marriage visa and bank account. Comes highly recommended!",
    author: "Jan S.",
    image: "/images/testimonials/svedlund.webp",
    date: "October 2025",
    rating: 5,
    source: "Facebook",
    sourceURL: FACEBOOK_URL
  },
  {
    quote: "Got my Muay Thai DTV with this agency and it has been super easy. Communication was fast and professional from start to finish and I’m also very happy with the gym they partner with 👌",
    author: "Quentin K.",
    image: "/images/testimonials/quentin.webp",
    date: "February 2026",
    rating: 5,
    source: "Google",
    sourceURL: GOOGLE_URL
  },
  {
    quote:
      "i used this agency for my 90 day report. i would highly recommend their services and will definitely be using them again for both myself and my partner, they were very efficient at dealing with a few issues that came up and extremely helpful with sorting all the correct documents, and very thorough with explaining the process also 😊 thank you for the help 🙏",
    author: "Callie I.",
    image: "/images/testimonials/callie.webp",
    date: "September 2025",
    rating: 5,
    source: "Facebook",
    sourceURL: FACEBOOK_URL
  },
  {
    quote:
      "Excellent service. The staff was able to walk me through all of the complexities and personally guide me around the immigration building when my physical presence was required. They coordinated everything dates, times, translations, locations and made it as easy as possible. Highly recommend.",
    author: "Payton S.",
    image: "/images/testimonials/payton.webp",
    date: "February 2026",
    rating: 5,
    source: "Google",
    sourceURL: GOOGLE_URL
  },
  {
    quote: "Used for my Non-O renewal. great service at a great price. highly recommended",
    author: "Richard A.",
    image: "/images/testimonials/richard.webp",
    date: "September 2025",
    rating: 5,
    source: "Facebook",
    sourceURL: FACEBOOK_URL
  },
  {
    quote: "Their staff was nice and they handled my marriage registration with my Thai partner as well as my visa perfectly. Thank you!",
    author: "Gérard D.",
    image: "/images/testimonials/gerard.png",
    date: "November 2025",
    rating: 5,
    source: "Google",
    sourceURL: GOOGLE_URL
  },
  {
    quote:
      "This agency helped my girlfriend get her schengen visa for our summer holiday and service was top notch. And prices are very good compared to some other companies in Bangkok who tried to squeeze every baht they can out of me.",
    author: "Arthur K.",
    image: "/images/testimonials/arthur.webp",
    date: "June 2025",
    rating: 5,
    source: "Facebook",
    sourceURL: FACEBOOK_URL
  },
  {
    quote:
      "Thank you for your excellent service! PT Service agency helped us to make 90 days reports on time. This is surely the easiest way to deal with it. The process was smooth and pleasant, no need to go anywhere and wait queues. We will definitely use your service next time 👍",
    author: "Evgenia Z.",
    image: "/images/testimonials/evgenia.png",
    date: "January 2026",
    rating: 5,
    source: "Google",
    sourceURL: GOOGLE_URL
  }
];
---

<section class="overflow-hidden">
  <div class="mx-auto max-w-[940px] px-5">
    <div class="flex items-center justify-center gap-3">
      <p class="text-2xl">&#11088;</p>
      <h2 class="mb-5 mt-0 text-center text-[28px] font-bold text-primary">
        {t.testimonials.heading}
      </h2>
      <p class="text-2xl">&#11088;</p>
    </div>

    <div class="grid grid-cols-2 gap-4 max-[991px]:grid-cols-2 max-[479px]:grid-cols-1">
      {testimonials.map(item => <TestimonialCard quote={item.quote} author={item.author} rating={item.rating} source={item.source} sourceURL={item.sourceURL} image={item.image} date={item.date} />)}
    </div>
  </div>
</section>
