---
import type {Lang} from "../../../../i18n";
import {getTranslations} from "../../../../i18n";
import {cn} from "../../../../lib/utils";
import {Button} from "../../../../components/ui/Button";
import {Image} from "astro:assets";
import heroWoman from "../../../../assets/hero-woman.webp";
import HeroBannerTestimonial from "./HeroBannerTestimonial.astro";

interface Props {
  lang: Lang;
}

const {lang} = Astro.props;
const t = getTranslations(lang);
---

<section class="flex justify-center mt-16">
  <div class={cn("flex flex-col md:flex-row", "w-full max-w-[940px]", "items-center justify-center md:justify-between", "px-5 py-0", "gap-8")}>
    <!-- Text Content -->
    <div class="flex-1 items-center justify-center md:items-start md:justify-between">
      <h1
        class={cn(
          "font-calsans text-[40px]",
          "self-center text-center md:text-left",
          "bg-clip-text leading-none text-royal-blue",
          "max-[991px]:text-[40px] max-[991px]:leading-[44px]",
          "max-[479px]:text-center max-[479px]:text-[30px]",
          "max-[479px]:leading-[37px]"
        )}
        style="background-color: #3b282800; background-image: linear-gradient(67deg, var(--color-primary) 33%, #6f8aaa); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-transform: uppercase;"
      >
        <Fragment set:html={t.hero.title} />
      </h1>

      <p class="text-primary text-center md:text-left mt-6 text-lg leading-tight">
        {t.hero.description}
      </p>

      <!-- CTA Buttons -->
      <div class="flex mt-9 flex gap-3 items-center justify-center md:justify-start">
        <Button href="#footer" variant="primary">
          {t.hero.ctaPrimary}
        </Button>
        <Button href="#services-container" variant="outline">
          {t.hero.ctaSecondary}
        </Button>
      </div>

      <HeroBannerTestimonial lang={lang} />
    </div>

    <!-- Hero Image (hidden on mobile) -->
    <div class="w-[380px] shrink-0 hidden md:block">
      <Image src={heroWoman} width={380} alt="An illustration representing a VISA agent happy to help her customers." class="block w-full drag-none" loading="eager" />
    </div>
  </div>
</section>
