---
import type {Lang} from "../i18n";
import {getLocalizedPath} from "../i18n";
import {Image} from "astro:assets";
import type {ImageMetadata} from "astro";

interface Props {
  title: string;
  date: string;
  excerpt: string;
  image: ImageMetadata;
  imageAlt: string;
  href: string;
  lang: Lang;
}

const {title, date, excerpt, image, imageAlt, href, lang} = Astro.props;
---

<a href={getLocalizedPath(href, lang)} class="flex flex-col gap-3 p-4 bg-white rounded-xl border border-border">
  <Image src={image} alt={imageAlt} class="w-full aspect-16/9 rounded-lg object-cover" width={600} height={338} loading="lazy" />
  <div class="flex flex-col">
    <h3 class="text-left text-2xl font-bold leading-tight text-primary">
      {title}
    </h3>
    <p class="mb-0 mt-1 text-sm text-body-text/75">{date}</p>
    <p class="mb-0 mt-1 text-[15px] text-body-text">{excerpt}</p>
  </div>
</a>
